{#
/**
 * @file mailgroup_message.html.twig
 * Default theme implementation to present mail group messages.
 *
 * This template is used when viewing messages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_mailgroup_message()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('mailgroup_message') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
