{#
/**
 * @file mailgroup-membership-list-item.html.twig
 * Default theme implementation to present a User's Mail Group Membership.
 *
 * Available variables:
 * - label: The Mail Group label
 * - status: The Membership status (TRUE or FALSE).
 * - url: The url of the Mail Group members overview.
 *
 * @see template_preprocess_mailgroup()
 *
 * @ingroup themeable
 */
#}
{% apply spaceless %}

  {% if url is not null %}
    <a href="{{ url }}" title="{{ 'View @group'|t({'@group': label}) }}" target="_blank">{{ label }}</a>
  {% else %}
    {{ label }}
  {% endif %}

  ({{ status == true ? 'Active'|t : 'Inactive'|t }})
{% endapply %}
