{#
/**
 * @file mailgroup-membership-list.html.twig
 * Default theme implementation to present a User's Mail Group Membership list.
 *
 * Available variables:
 * - memberships: An array of the User's Mail Group Memberships.
 *
 * @see template_preprocess_mailgroup()
 *
 * @ingroup themeable
 */
#}
{% apply spaceless %}
  <h4 class="label">{{ 'Mail Group Memberships'|t }}</h4>

  {% if memberships is not empty %}
    <ul>
    {% for member in memberships %}
      <li>{{ member }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endapply %}
