{#
/**
 * @file mailgroup.html.twig
 * Default theme implementation to present Mail group data.
 *
 * This template is used when viewing Mail group pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_mailgroup()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('mailgroup') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
